<h3>
  1.two columns (left fix, right self-adaption)
</h3>
<h4>1.1 left fix, right self-adaption: float+margin
</h4>
<div class="no1">
  <div class="left">left</div>
  <div class="right">right</div>
</div>

<h4>1.2 left fix, right self-adaption: float+margin(fix)
</h4>
<div class="no2">
  <div class="left">left</div>
  <div class="right-fix">
    <div class="right">right</div>
  </div>
</div>

<h4>1.3 left fix, right self-adaption: BFC</h4>
<div class="no3">
  <div class="left">left</div>
  <div class="right">right</div>
</div>

<h4>1.4 left fix, right self-adaption: table</h4>
<div class="no4">
  <div class="left">left</div>
  <div class="right">right</div>
</div>

<h4>1.5 left fix, right self-adaption: flex</h4>
<div class="no5">
  <div class="left">left</div>
  <div class="right">right</div>
</div>

<h3>
  2.three columns (left fix, center fix, right self-adaption)
</h3>
<h4>2.1 left fix, center fix, right self-adaption: float+margin
</h4>
<div class="no21">
  <div class="left">left</div>
  <div class="center">center</div>
  <div class="right">right</div>
</div>

<h4>2.2 left fix, center fix, right self-adaption: float+overflow
</h4>
<div class="no22">
  <div class="left">left</div>
  <div class="center">center</div>
  <div class="right">right</div>
</div>

<h4>2.3 left fix, center fix, right self-adaption: table
</h4>
<div class="no23">
  <div class="left">left</div>
  <div class="center">center</div>
  <div class="right">right</div>
</div>

<h4>2.4 left fix, center fix, right self-adaption: flex
</h4>
<div class="no24">
  <div class="left">left</div>
  <div class="center">center</div>
  <div class="right">right</div>
</div>


<h3>
  3.three columns (left fix, right fix, center self-adaption)
</h3>
<h4>3.1 left fix, right fix, center self-adaption: float+margin
</h4>
<div class="no31">
  <div class="left">left</div>
  <div class="center-box">center</div>
  <div class="right-box">right</div>
</div>

<h4>3.2 left fix, right fix, center self-adaption: table
</h4>
<div class="no32">
  <div class="left">left</div>
  <div class="center-box">center</div>
  <div class="right-box">right</div>
</div>

<h4>3.3 left fix, right fix, center self-adaption: flex
</h4>
<div class="no33">
  <div class="left">left</div>
  <div class="center-box">center</div>
  <div class="right-box">right</div>
</div>


<h3>
  4.multiple columns self-adaption
</h3>
<h4>4.1 multiple columns self-adaption: float
</h4>
<div class="no41">
  <div class="column">
    <span>column1</span>
  </div>
  <div class="column">
    <span>column2</span>
  </div>
  <div class="column">
    <span>column3</span>
  </div>
  <div class="column">
    <span>column4</span>
  </div>
</div>

<h4>4.2 multiple columns self-adaption: flex
</h4>
<div class="no42">
  <div class="column">
    <span>column1</span>
  </div>
  <div class="column">
    <span>column2</span>
  </div>
  <div class="column">
    <span>column3</span>
  </div>
  <div class="column">
    <span>column4</span>
  </div>
</div>

<!-- this must be in a single page, then can take effect -->
<!-- <h3>
  5.full page layout
</h3>
<h4>5.1 full page layout: absolute
</h4>
<div class="no51">
  <div class="top">top</div>
  <div class="left">left</div>
  <div class="right">right</div>
  <div class="bottom">bottom</div>
</div>

<h4>5.1 full page layout: flex
</h4>
<div class="no52">
  <div class="top">top</div>
  <div class="left">left</div>
  <div class="right">right</div>
  <div class="bottom">bottom</div>
</div> -->